name: Capturer build

on:
  push:
    branches: [main]
    paths:
      - 'capturer/**'
      - '.github/workflows/capturer.yml'
  pull_request:
    branches: [main]
    paths:
      - 'capturer/**'
      - '.github/workflows/capturer.yml'
  workflow_dispatch:

env:
  LONG_IMAGE_TAG: ${{ github.sha }}

jobs:
  build-capturer:
    name: Build Capturer
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set short hash
        run: echo "IMAGE_TAG=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image locally with Buildx
        uses: docker/build-push-action@v5
        with:
          context: capturer
          file: capturer/Dockerfile
          tags: |
            capturer:latest
          push: false
          load: true

      - name: Extract binary from built image
        run: |
          IMAGE_NAME=capturer:latest
          CONTAINER_ID=$(docker create $IMAGE_NAME)
          docker cp $CONTAINER_ID:/app/main ./capturer-binary
          docker rm $CONTAINER_ID

      - name: Upload binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: capturer-binary
          path: ./capturer-binary
          retention-days: 30

      - name: Create or update latest release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Capturer build
          files: ./capturer-binary